$maincolor: #265dc4;
$successcolor: #1fbba6;
$errorcolor: #f23564;

$darkgrey: #383b3b;
$lightgrey: #bdc1c5;
$lightergrey: #f5f7fa;
$white: #FFF;
$black: #000;

$fontname: "Oswald, sans-serif";

$monofont: "PT Mono";
$iconfont: "Material Icons";

$topbarsize: 70px;
