@import "../general";

.title{
    padding: 30px 0 10px;

    text-align: left;
    font-size: 20px;

    span{
        font-weight: 700;
        text-transform: uppercase;
    }
}

.stops_list{
    margin: 30px 0 15px;
    height: calc(100vh - 125px);

    overflow: auto;

    .stop_item{
        border-top: 1px solid $lightgrey;
        padding: 7.5px 0;

        line-height: 160%;
    }
}
